node-red/flows.json
[{"id":"9326603e.439b9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"34929a78.c27f46","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"b2ba69e.3467398","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4004d09b.0a391","type":"function","z":"9326603e.439b9","name":"Get day of week","func":"var day = new Date().getDay();\n\nvar isWeekend = (day === 6) || (day === 0); \n\nreturn {\n    payload: isWeekend,\n};","outputs":1,"noerr":0,"x":200,"y":300,"wires":[["933df480.ab1d48"]]},{"id":"933df480.ab1d48","type":"switch","z":"9326603e.439b9","name":"Is it weekend?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":340,"wires":[["a3f3e8e1.f15698"],["11e1fa43.4e1ad6"]]},{"id":"a3f3e8e1.f15698","type":"api-current-state","z":"9326603e.439b9","name":"Enabled on weekends?","server":"34929a78.c27f46","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.wakeup_weekend","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":470,"y":300,"wires":[[],["11e1fa43.4e1ad6"]]},{"id":"11e1fa43.4e1ad6","type":"api-current-state","z":"9326603e.439b9","name":"Enabled?","server":"34929a78.c27f46","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.wakeup_enabled","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":420,"y":340,"wires":[[],["845e846d.1540f8"]]},{"id":"845e846d.1540f8","type":"api-call-service","z":"9326603e.439b9","name":"1%","server":"34929a78.c27f46","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.master_bedroom_dimmer","data":"{\"brightness\":1}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":170,"y":480,"wires":[["652461e1.d186"]]},{"id":"652461e1.d186","type":"looptimer","z":"9326603e.439b9","duration":"1","units":"Minute","maxloops":"30","maxtimeout":"35","maxtimeoutunits":"Minute","name":"","x":240,"y":520,"wires":[["2791498e.b027f6"],[]]},{"id":"2791498e.b027f6","type":"api-render-template","z":"9326603e.439b9","name":"Get new light setting","server":"34929a78.c27f46","template":"{{ [250, state_attr('light.master_bedroom_dimmer', 'brightness') + 9] | min }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":300,"y":560,"wires":[["7f10667b.cbce18"]]},{"id":"7f10667b.cbce18","type":"api-call-service","z":"9326603e.439b9","name":"Increase light","server":"34929a78.c27f46","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.master_bedroom_dimmer","data":"{\"brightness\":\"{{ payload }}\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":310,"y":600,"wires":[[]]},{"id":"209496f1.0a961a","type":"server-state-changed","z":"9326603e.439b9","name":"Wake up time input","server":"34929a78.c27f46","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_datetime.wakeup_time","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":170,"y":80,"wires":[["bbe1a7c9.0f0f68"]]},{"id":"bbe1a7c9.0f0f68","type":"function","z":"9326603e.439b9","name":"Parse time","func":"new_msg = {\n    payload: {\n        ontime: msg.payload.substr(0,5),\n        offtime: msg.payload.substr(0,5)\n    }\n}\nreturn new_msg;","outputs":1,"noerr":0,"x":190,"y":160,"wires":[["cd5f8eac.88847"]]},{"id":"cd5f8eac.88847","type":"schedex","z":"9326603e.439b9","name":"Trigger at time","passthroughunhandled":false,"suspended":false,"lat":"34.05296","lon":"-118.35513","ontime":"22:19","ontopic":"","onpayload":"on","onoffset":0,"onrandomoffset":0,"offtime":"12:00","offtopic":"","offpayload":"off","offoffset":"60","offrandomoffset":0,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":380,"y":160,"wires":[["c4ac2b64.5fc6a8"]]},{"id":"c4ac2b64.5fc6a8","type":"switch","z":"9326603e.439b9","name":"is on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":160,"wires":[["4004d09b.0a391"]]},{"id":"98bcaf23.055f9","type":"comment","z":"9326603e.439b9","name":"Time setting input","info":"","x":170,"y":40,"wires":[]},{"id":"252f92f3.59419e","type":"comment","z":"9326603e.439b9","name":"Trigger at the configured time","info":"","x":420,"y":120,"wires":[]},{"id":"45aca3f1.39d51c","type":"comment","z":"9326603e.439b9","name":"Check if the wake-up light should be enabled on this day of the week","info":"","x":330,"y":240,"wires":[]},{"id":"96d239ed.0b9f38","type":"comment","z":"9326603e.439b9","name":"Run the wake-up sequence","info":"","x":200,"y":400,"wires":[]}]
